{% extends "base.html" %} {% block content %}


<div class="container">
    <h1>COVID-20 Spread Analysis</h1>
  <div class="row">

    <div class="col-4">
        <h5><font color="red">Top 15 States</font></h5>
        <p>This is the province state wise covid-20 data upto 3 may 2021.</p>
        <table class="table-responsive-sm table-dark">
        <thead>
            <tr>
            <th scope="col">Province State</th>
            <th scope="col">Confirmed</tr>
                </tr>
        </thead>
        <body>
    {% for pair in pairs %}
    <tr>
    <td>{{ pair[0]}}</td>
    <td>{{ pair[1]}}</td>
    </tr>
    {% endfor %}
    </body>
    </table></div>
    <div class="col-8">
        <h5><font color="firebrick">world map of corona cases. The bigger the circle, bigger is the impace of corona virus in that province state.</font></h5>
        <p>using the same data we provided an updated map that contains</p>
        {{cmap|safe}}</div>

  </div>
</div>


{% endblock %}